body {
    font-family: Helvetica;
}

/* Navbar Start */

.navbar {
    z-index: 3;
    
    
}


.nav-link{
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 20px;
    font-style: bold;
}
.main-button{
    background: #5CB85F;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    

}

/* Navbar End */

/* Hero Section Start */
.hero {
    height: 100%;
    background: #F1F3FF;
}
#mobil {
    margin-left: 16.6%;
    margin-top: 13%;
    overflow: hidden;
}
.tagline-hero h1{
    font-size: 36px;
    font-weight: 700;
    width: 150%;

}
.tagline-hero p{
    font-size: 14px;
    font-weight: 300;
    width: 115%;
}

/* Hero Section End */

/* Service Section Start */
#service{
    padding: 100px 0;
}


.service-tagline h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;

}
.service-tagline p{
    font-size: 14px;
    font-weight: 300;
    width: 85%;
}
.service-tagline span{
    margin: 15px;
}
/* Service Section End */
/* Why Us Start*/

#why-us{
    padding: 10px 0;
    margin-bottom: 100px;
}
h2{
    font-size: 24px;
    font-weight: 700;
}
.card-why-us{
    width: 100%;
    height: 196px;
    border-radius: 8px;
    padding: 24px;
    border:  1px solid #D0D0D0;
}

.card-why-us h3{
    font-family: Helvetica; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.card-why-us p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}



/* Why Us End*/
/* Testimonial Start */





.carousel-control-next, .carousel-control-prev {
    position:absolute;
    top: inherit;
    bottom: -52px;
    width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* border: 2px solid #333;
    background-color: #ccc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 20px; */

    background-color: #fff;
    border: none;
    height: 32px;
    width: 32px;

}
.carousel-control-prev {
    justify-content: flex-end;
    padding-right: 30px;
}
.carousel-control-next{
    justify-content: flex-start;
    padding-right: 30px;

} 
.carousel {
    width: 150%;
    left: -25%;
}
/* .overflow{
    overflow-x: hidden;
    height: 400px;
} */
.container-carousel{
    overflow-x: hidden;
    /* display: flex;
    column-gap: 10px; */
    height: 378px;
}



.testimonial{
    width: 619px;
    height: 270px;
    background: #F1F3FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
    
}




/* Testimonial End*/

/* Content Start */

.card-content{
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
    padding: 100px 0;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
   

}
.card-content h2{
    color: white;
    margin-bottom: 25x;
}
.card-content p{
    color: white;
    margin-bottom: 50px;
}


/* Content End */
/* FAQ Start */

#faq{
    margin: 40px;

}
.tagline-faq{
    margin: 15px;
}

/* Timpa Bootstrap Accordion */
.accordion-item,
.accordion-item:not(:first-of-type) {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    margin: 15px;
}



/* FAQ End */
/* Footer Start */
#footer{
    padding: 80px 0;
}
.menu-footer{
    font-weight: 400;
   
}


/* Footer End */
